# default
__pycache__
*/__pycache__
.DS_Store
.vscode

# dataset
data/*
src/splits/*

src/data/*

# wandb
src/wandb/*
src/sweep/wandb/*
src/sweep2/*
src/sweep2/wandb/*
src/sweep_saving

# 
grade/*

# test
src/test.ipynb

# notebook
notebook/*